spring:
  application:
    name: ecommerce
  
server:
  port: 8080
  servlet:
    context-path: /

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
  show-actuator: false

logging:
  level:
    root: INFO
    com.turkcell.ecommerce: DEBUG
